/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
/_ide_helper.php
/.phpstorm.meta.php
/_ide_helper_models.php
/.serverless/
.php_cs.cache
/node_modules/

/public/js
/public/css
/public/build
/public/mix-manifest.json
/storage/api-docs
