includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    level: 8

    ignoreErrors:
        - '#Static call to instance method Carbon\\CarbonInterval::[a-zA-Z]+\(\)#'
        - '#Call to method route\(\) on an unknown class Illuminate\\Routing\\Redirector.#'
        - '#Method App\\Exceptions\\Handler::render\(\) should return Illuminate\\Http\\JsonResponse|Illuminate\\Http\\Response but returns Symfony\\Component\\HttpFoundation\\Response.#'

    checkMissingIterableValueType: false
