includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app

    level: 8

    ignoreErrors:
        - '#Static call to instance method Carbon\\CarbonInterval::[a-zA-Z]+\(\)#'

    checkMissingIterableValueType: false
