// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body, #app {
    min-height: 100vh;
}

main {
    min-height: 100%;
}

.table-fixed {
    overflow: auto;
    height: 100px;
}

.table-fixed thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Just common table stuff. Really. */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 16px;
}

th {
    background: #eee;
}

.raw-data {
    position: absolute;
    top: 35px;
    bottom: 0;
    overflow: auto;
    width: 95%;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 3px;
    background-color: white;
    min-height: 75vh;
}
